//input
.ant-input {
    padding: 8px 11px;
    border-radius: 3px;
    border: 1px solid #d2d2d2;

    @mixin placeholderInputStyles {
        @include fw-light;
        color: #8b8b8b;
        font-style: italic;
    }

    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        @include placeholderInputStyles;
    }

    &::-moz-placeholder {
        /* Firefox 19+ */
        @include placeholderInputStyles;
    }

    &:-ms-input-placeholder {
        /* IE 10+ */
        @include placeholderInputStyles;
    }

    &:-moz-placeholder {
        /* Firefox 18- */
        @include placeholderInputStyles;
    }
}

.ant-input-password {
    @include fw-normal;
    color: #304460;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #d2d2d2;
    .ant-input {
        @mixin placeholderInputStyles {
            @include fw-normal;
            color: #8b8b8b;
            font-style: italic;
            font-size: 14px;

            @media(max-width: 767px) {
                font-size: 14px;
            }
        }

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            @include placeholderInputStyles;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            @include placeholderInputStyles;
        }

        &:-ms-input-placeholder {
            /* IE 10+ */
            @include placeholderInputStyles;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            @include placeholderInputStyles;
        }
    }
}

.ant-input-affix-wrapper {
    min-height: 40px;
    height: auto;
}

.ant-picker-input {
    input {
        @include fw-normal;
        color: #304460;
        font-size: 16px;
    }
}

.ant-picker {
    min-height: 40px;
    width: 100%;
}

textarea {
    &.ant-input {
        min-height: 40px;
    }
}

.button-updown {
    @include flexbox;
    @include align-items(center);
    margin-top: 8px;
    .ant-btn {
        &:hover,
        &:focus {
            color: unset;
            border-color: rgb(236, 236, 236);
        }
        
    }
    button {
        width: 30px !important;
        height: 30px !important;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(236, 236, 236);  
        &:first-child {
            border-right: none;
            border-radius: 4px 0px 0px 4px;
            padding: 4px;
        }
        &:last-child {
            border-left: none;
            border-radius: 0px 4px 4px 0px;
            padding: 4px;
        }
    }
    .ant-input {
        text-align: center;
        min-width: 52px !important;
        padding: 8px 0;
        border-radius: 0;
        width: 52px;
        height: 30px;
        border: 1px solid rgb(236, 236, 236);
        z-index: 1;
    }
}