.ant-select {
    min-width: 200px;
    width: 100%;
    box-shadow: unset;

}

.ant-select-selection-placeholder {
    @include flexbox;
    @include align-items(center);
    @include fw-light;
    color: #8b8b8b;
    font-style: italic;
}

.ant-select-selector {
    @include flexbox;
    @include align-items(center);
    @include fw-normal;
    min-height: 40px;
    height: auto;
    width: 100%;
    color: #304460;
}

.ant-select-arrow {
    color: #0080ff;
}

.ant-select:not(.ant-select-customize-input) {
    .ant-select-selector {
        border: 1px solid #d2d2d2;
        border-radius: 3px;
        min-height: 40px;
        height: auto;
        width: 100%;
    }
}

.ant-select .ant-select-single .ant-select-show-arrow {
    box-shadow: unset;

}

.ant-select-focused:not(.ant-select-disabled),
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    box-shadow: unset;
}

.ant-select-dropdown {
    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
        background-color: #fff;
        color: #0080ff;

    }

    .ant-select-item-option {
        @include fw-normal;
        font-size: 16px;
        color: #304460;
    }

    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        background-color: #fff;
        color: #0080ff;
        font-size: 16px;
    }
}