.collection {
    .collection-template {
        padding-top: 30px;
        .collection-banner {
            margin-bottom: 25px;
            img {
                max-width: 100%;
                width: 100%;
            }
        }
    }
}

.collection-filter {
    .wrap-filter {
    }
}

.collection-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-product-list {
    flex-wrap: wrap;
    margin-left: -15px;
    margin-top: 30px;
    position: relative;
}
