.login {
    @include flexbox;
    @include flex-wrap(nowrap);
    background-color: #ffffff;
    height: 100vh;

    @media (max-width: 992px) {
        flex-direction: column;
    }

    @media (max-width: 767px) {
        display: block;
    }

    &__bg {
        width: 40%;
        position: relative;
        @media (max-width: 992px) {
            width: 100%;
            height: 35vh;
        }
    }
    &__right {
        @include flex_center;
        @include flex-direction(column);
        width: 60%;

        @media (max-width: 1200px) {
            padding: 0 10px;
        }

        @media (max-width: 992px) {
            width: 100%;
        }
        @media (max-width: 481px) {
            height: auto;
            padding: 30px;
        }
    }
    &__form {
        width: 100%;
        max-width: 460px;
        @media (max-width: 992px) {
            padding-top: 30px;
        }
        .btn-create-user {
            width: unset !important;
        }
        .title {
            @include fw-medium;
            text-align: center;
            font-size: 40px;
            line-height: 1.33;
            color: #304460;
            width: 100%;
            margin-bottom: 60px;
            @media (max-width: 992px) {
                margin-bottom: 30px;
                font-size: 25px;
            }
            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
            @media (max-width: 481px) {
                margin-bottom: 10px;
                font-size: 18px;
            }
        }
        .label {
            @include fw-bold;
            font-size: 16px;
            margin-bottom: 11px;
            color: #304460;
            @media (max-width: 992px) {
                margin-bottom: 8px;
                font-size: 14px;
            }
            @media (max-width: 767px) {
                margin-bottom: 6px;
            }
            @media (max-width: 481px) {
                font-size: 12px;
            }
        }
        .form-group {
            margin-bottom: 45px;
            .input-icon {
                color: #717c99;
            }
            @media (max-width: 992px) {
                margin-bottom: 25px;
            }
            @media (max-width: 767px) {
                margin-bottom: 10px;
            }
        }
        .forgot-password {
            @include fw-normal;
            text-align: right;
            margin-bottom: 40px;
            @media (max-width: 992px) {
                margin-bottom: 25px;
            }
            @media (max-width: 767px) {
                margin-bottom: 15px;
                text-align: center;
                font-size: 14px;
            }
            @media (max-width: 481px) {
                font-size: 12px;
                margin-bottom: 10px;
            }
        }
        .btn {
            max-height: 48px;
            height: 100%;
            width: 100%;
            font-size: 18px;
            border-radius: 3px;
            border: none;
            margin-top: 5px;
            margin-bottom: 25px;
            @media (max-width: 992px) {
                margin-bottom: 15px;
                font-size: 16px;
            }
            @media (max-width: 481px) {
                margin-bottom: 10px;
                font-size: 14px;
            }
        }
        .support-login {
            @include fw-normal;
            font-size: 16px;
            text-align: center;
            margin-bottom: 9px;
            color: #666b77;
            @media (max-width: 992px) {
                margin-bottom: 5px;
                font-size: 14px;
            }
            @media (max-width: 481px) {
                margin-bottom: unset;
                font-size: 12px;
            }

            .text {
                @include fw-medium;
                color: #0080ff;
            }
        }
    }
    .ant-picker {
        min-height: 48px;
    }
    .ant-select {
        min-width: unset;
        .ant-select-selector {
            min-height: 48px !important;
        }
    }
    
}

.scb-login {
    .login__form .form-group {
        margin-bottom: 15px !important;
        label{
            margin-bottom: 8px;
            font-weight: bold;
            color: #304460;
            font-size: 16px;
        }
        .ant-input-affix-wrapper{
            min-height: 48px;
        }
    }

    .btn-blue {
        height: 48px !important;
        background-color: blue !important;
        color: #ffffff;

        &:hover{
            border: none;
            background-color: #406add !important;
        }
    }
    .ant-btn{
        &:focus,&:active {
            border: none;
            background-color: #0080ff !important;
            color: black;
        }
    }
}

.m_login--form .password .input .la-eye,
.m_login--form .retype-password .input .la-eye,
.m_login--form .new-password .input .la-eye {
    color: #6d30ab;
}

.m_login--form .btn-login {
    background-color: #6d30ab;
    border: 1px solid #6d30ab;
}

.m_login--form .btn-login:hover {
    color: #6d30ab;
}

.m_login {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 768px) {
    .m_login {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }
}

.m_login--form {
    width: 100%;
    max-width: 656px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .m_login--form {
        padding: 0 3rem 3rem 3rem;
    }
}

@media (max-width: 768px) {
    .m_login--form {
        padding: 0 1rem 3rem 1rem;
        max-width: 430px;
    }
}

.m_login--form .forgot-pwd {
    font-size: 18px;
    color: #6d6d6d;
    font-weight: normal;
    display: block;
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .m_login--form .forgot-pwd {
        font-size: 16px;
        margin-top: 20px;
    }
}

.m_login--form .forgot-pwd:hover {
    text-decoration: none;
}

.m_login--form .btn-login {
    background-color: #6d30ab;
    border: 1px solid #6d30ab;
    color: #fff;
    max-width: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
    border-radius: 0;
    height: 50px;
    font-size: 18px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 992px) {
    .m_login--form .btn-login {
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    .m_login--form .btn-login {
        height: 40px;
        font-size: 16px;
    }
}

.m_login--form .btn-login:hover {
    background-color: #fff;
    color: #6d30ab;
}

.m_login--form .label {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    text-align: left;
    color: #000000;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .m_login--form .label {
        font-size: 16px;
        margin-bottom: 5px;
    }
}

.m_login--form .input {
    position: relative;
    height: 50px;
}

@media (max-width: 768px) {
    .m_login--form .input {
        height: 40px;
    }
}

.m_login--form .input i {
    position: absolute;
    z-index: 1;
    font-size: 20px;
    color: #000;
    left: 28px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

@media (max-width: 768px) {
    .m_login--form .input i {
        font-size: 18px;
        left: 10px;
    }
}

.m_login--form .input input {
    position: absolute;
    left: 0;
    /* width: 85%; */
    width: 100%;
    height: 100%;
    border: none;
    background-color: #f5f5f5 !important;
    padding-left: 66px;
    border-radius: 0;
    font-size: 18px;
}

@media (max-width: 768px) {
    .m_login--form .input input {
        padding-left: 40px;
        font-size: 16px;
        width: 100%;
    }
}

.m_login--form .input input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #999999;
    // font-style: italic;
    font-size: 16px;
}

@media (max-width: 768px) {
    .m_login--form .input input::-webkit-input-placeholder {
        font-size: 14px;
    }
}

.m_login--form .input input::-moz-placeholder {
    /* Firefox 19+ */
    color: #999999;
    // font-style: italic;
    font-size: 16px;
}

@media (max-width: 768px) {
    .m_login--form .input input::-moz-placeholder {
        font-size: 14px;
    }
}

.m_login--form .input input:-ms-input-placeholder {
    /* IE 10+ */
    color: #999999;
    // font-style: italic;
    font-size: 16px;
}

@media (max-width: 768px) {
    .m_login--form .input input:-ms-input-placeholder {
        font-size: 14px;
    }
}

.m_login--form .input input:-moz-placeholder {
    /* Firefox 18- */
    color: #999999;
    // font-style: italic;
    font-size: 16px;
}

@media (max-width: 768px) {
    .m_login--form .input input:-moz-placeholder {
        font-size: 14px;
    }
}

.m_login--form .password .input input,
.m_login--form .retype-password .input input,
.m_login--form .new-password .input input {
    padding-right: 75px;
}

.m_login--form .password .input .la-eye,
.m_login--form .retype-password .input .la-eye,
.m_login--form .new-password .input .la-eye {
    left: auto;
    right: 30px;
    cursor: pointer;
    color: #6d30ab;
}

@media (max-width: 768px) {
    .m_login--form .password .input .la-eye,
    .m_login--form .retype-password .input .la-eye,
    .m_login--form .new-password .input .la-eye {
        right: 15px;
    }
}

.m_login--form .password .input .la-eye:hover,
.m_login--form .retype-password .input .la-eye:hover,
.m_login--form .new-password .input .la-eye:hover {
    color: #000;
}

.m_login--form .form-group {
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .m_login--form .form-group {
        margin-left: 0;
        margin-bottom: 20px;
    }
}

.m_login figure {
    margin: 0;
    @media (max-width: 768px) {
        margin: 0 auto;
        text-align: center;
        padding-left: 0;
        justify-content: center;
        align-items: center;
    }
}

.m_login .error-text {
    font-style: italic;
    line-height: 1.2;
    text-align: left;
    color: #e94c4c;
    margin-top: 10px;
}

@media (max-width: 992px) {
    .m_login .error-text {
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    .m_login .error-text {
        font-size: 10px;
    }
}

.text-danger-login {
    font-size: 20px;
}

/*Status*/

.priority_type_1 {
    color: #2b8a3e;
}

.priority_type_2 {
    color: #f29f05;
}

.priority_type_3 {
    color: #ca3f3f;
}

.priority_type_4 {
    color: #ca3f3f;
}

.m_account_active .img-active {
    max-width: 250px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .m_account_active .img-active {
        max-width: 180px;
    }
}

.m_account_active .img-active img {
    width: 100%;
}

.parsley-errors-list {
    list-style: none;
    padding: 0;
}

