.template-profile {
    margin-top: 50px;
    padding-bottom: 30px;
    .profile-sidebar {
        background: #fff;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 15px;
        border-radius: 5px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 5.3rem;
            border-top: 1px solid #e3e3e3;
            z-index: 99;
            width: 100%;
        }
        .profile-header {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .profile-logo {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 16px;
                background-color: #edb500;
            }
            .acc-name {
                font-size: 16px;
                font-weight: 500;
                padding-left: 10px;
            }
        }
        .profile-content {
            margin-top: 40px;
            ul {
                padding: 0;
                list-style-type: none;
                .profile-item {
                    margin-bottom: 15px;
                    .profile-name {
                        display: flex;
                        align-items: center;
                        padding: 3px 0;
                        text-decoration: none;
                        color: #000000;
                        i {
                            font-size: 20px;
                        }
                        span {
                            margin-left: 10px;
                        }
                    }
                    &.active {
                        .profile-name {
                            color: #ff6310 !important;
                        }
                    }
                }
            }
        }
    }
    .profile-right {
        height: 100%;
        background: #fff;
        padding: 15px;
        border-radius: 5px;
        .profile-title {
            font-size: 21px;
        }
        table {
            width: 100%;
            tr {
                td {
                    padding: 10px;
                    text-align: left;
                    &:first-child {
                        padding-left: 0;
                    }
                }
            }
        }
        .profile-change {
            margin-top: 30px;
            width: 250px;
        }
    }
}
